# 14-12-2021
Regularisation

In [1]:
#Regularisation:-To remove the overfitting from model we used regularisation.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("Automobile_data.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
#replace ? with null values in "normalized-losses" column permanently
df["normalized-losses"].replace("?",np.nan,inplace=True)

In [5]:
#change the datatype of df["normalized-losses"] column from object to float
#permanently
df["normalized-losses"]=df["normalized-losses"].astype("float")

In [6]:
#fill null rows of normalized-losses column with mean of normalized-losses 
#columns permanently
m=df["normalized-losses"].mean()
print("Mean of normalized-losses : ",m)
df["normalized-losses"].fillna(m,inplace=True)

Mean of normalized-losses :  122.0

In [7]:
#replace ? with null values in "horsepower" column permanently
df["horsepower"].replace("?",np.nan,inplace=True)

In [8]:
#change the datatype of df["horsepower"] column from object to float
#permanently
df["horsepower"]=df["horsepower"].astype("float")

In [9]:
#fill null rows of horsepower column with mean of horsepower
#columns permanently
m=df["horsepower"].mean()
print("Mean of horsepower : ",m)
df["horsepower"].fillna(m,inplace=True)

Mean of horsepower :  104.25615763546799

In [10]:
#separate numerical type column and object type column and store in new dataset
df_num=df.select_dtypes(["int64","float64"])#hold to int and float type data 
df_cat=df.select_dtypes(object)#hold object type data
df_cat.head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [11]:
#change the object type data into numerical type then use LabelEncoder class
from sklearn.preprocessing import LabelEncoder

In [12]:
for col in df_cat :
    le=LabelEncoder() #create the object of LabelEncoder class
    df_cat[col]=le.fit_transform(df_cat[col])

In [13]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [14]:
#concatenation of both dataset df_num and df_cat and hold new dataset df_new
df_new=pd.concat([df_num,df_cat],axis=1) #axis=1 column wise
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [15]:
#Performing the model with the help of LinearRegression
#we want to predict the car's price which are contineous numeric value
#apply multiple linear regression because many input means many independent
#variables or features and one target
df_new.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'price', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [16]:
#Select input and output from dataframe df_new
X=df_new.drop("price",axis=1)
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [17]:
#Select output from dataframe 
Y=df_new["price"]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
#train_test_split() we separate dataset  X and Y in 70% and 30% for training and testing
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [20]:
X_train.shape #Training no. of dataset

(143, 14)

In [21]:
df_new.shape #Total no. of dataset

(205, 15)

In [22]:
#Train model with LinearRegression model
#call calss
from sklearn.linear_model import LinearRegression

In [23]:
#Create object of LinearRegression
lr=LinearRegression()

In [24]:
#Train the model with 70% data: use fit() inbuilt function of LinearRegression
lr.fit(X_train,Y_train)

LinearRegression()

In [25]:
#Check training score: score() inbuilt function of LinearRegression class
#Score() is simlilar to r2-score (values means range : 0 to 1)
print("training score :",lr.score(X_train,Y_train)) #Training score

training score : 0.8504573774895473

In [26]:
#Checkinh the testing score: use score() inbuilt method which similar to r2-score
print("Testing Score :",lr.score(X_test,Y_test))

#or Y_pred=lr.predict(X_test)
#or r2-score(Y_test,Y_pred)

Testing Score : 0.7965566780397375

In [27]:
 #Here training score > testing score means testing error > training error means model is overfitting so remove 
# overfitting situation then add external error on training time means apply regularization.

In [28]:
#Check corfficient/slope of each input:inbuilt method of coef_of LinearRegression class
m=lr.coef_
print(m)
for i in m:
    print(np.round(i,2))

[ 4.51384957e+01  1.53127607e+00  7.89452171e+02  3.62663990e+02
  9.83682875e+01 -1.08169245e+01  3.08017854e+02 -4.17024371e+02
 -2.00099087e+02 -6.22650015e+02 -1.70235175e+02  1.86860719e+03
  1.64133620e+04  2.83174279e+02]
45.14
1.53
789.45
362.66
98.37
-10.82
308.02
-417.02
-200.1
-622.65
-170.24
1868.61
16413.36
283.17

In [29]:
lr.intercept_ #check intercept

-65022.76985995667

# 15-12-2021

In [30]:
#training score is overfitting means its more so we have to decrease it
#use L1: Lasso and L2 : ridge Regularisation

In [31]:
''' Add some error during training time 
   1. Lasso Regularization : L1  
   RSS+lambda*sum(abs(all coefficient)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 200,400,600,..1000
   2. Ridge Regularization : L2
   RSS+lambda*sum(square(all coefficient)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 0 to 50
'''

' Add some error during training time \n   1. Lasso Regularization : L1  \n   RSS+lambda*sum(abs(all coefficient)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 200,400,600,..1000\n   2. Ridge Regularization : L2\n   RSS+lambda*sum(square(all coefficient)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 0 to 50\n'

In [32]:
#Lasso Regulrization means L1 call inbuilt class Laso
from sklearn.linear_model import Lasso

In [33]:
#Create the object of class Lasso
l1=Lasso(1000)
#passing the value of Lambda which are 200.....1000 during create 
#the object of class Lasso

In [34]:
#Again train the model,use inbuilt method fit() of Lasso class
l1.fit(X_train,Y_train)

Lasso(alpha=1000)

# adding the error

In [35]:
#Checking the coefficent/slope value of each input after add the error on training time:use coef_inbuilt method of Lasso
m1=l1.coef_
m1

array([   0.        ,    3.96310671,    0.        ,  276.93279232,
        135.34169218,   16.00129073,   -0.        , -113.03311963,
       -126.40695244,   -0.        ,   -0.        ,    0.        ,
          0.        ,    0.        ])

# without adding error

In [36]:
#Check coefficient/slope of each input:inbuilt method of coef_of LinearRegression class
m=lr.coef_
m_before=[]
for i in m:
    m_before.append(np.round(i,2))

print(m_before)

[45.14, 1.53, 789.45, 362.66, 98.37, -10.82, 308.02, -417.02, -200.1, -622.65, -170.24, 1868.61, 16413.36, 283.17]

In [37]:
input=X.columns

In [38]:
''' In Lasso , coefficient of less imp features =0 and increase the 
coefficient of most imp features to predict the output
means Lasso is very important for feature selection '''

' In Lasso , coefficient of less imp features =0 and increase the \ncoefficient of most imp features to predict the output\nmeans Lasso is very important for feature selection '

In [39]:
#create dict
d={"Input columns":input,"Slope before add error":m_before,
  "Slope after add error use Lasso":m1}
#convert dictionary into dataframe
data=pd.DataFrame(d)
data

        Input columns  Slope before add error  Slope after add error use Lasso
0           symboling                   45.14                         0.000000
1   normalized-losses                    1.53                         3.963107
2               width                  789.45                         0.000000
3              height                  362.66                       276.932792
4         engine-size                   98.37                       135.341692
5          horsepower                  -10.82                        16.001291
6            city-mpg                  308.02                        -0.000000
7         highway-mpg                 -417.02                      -113.033120
8                make                 -200.10                      -126.406952
9           fuel-type                 -622.65                        -0.000000
10         body-style                 -170.24                        -0.000000
11       drive-wheels                 1868.61                         0.000000
12    engine-location                16413.36                         0.000000
13        engine-type                  283.17                         0.000000

In [40]:
#To find the score after apply Lasso :Luse score() inbuilt method of Lasso it is similar to r2-score
l1.score(X_test,Y_test)

0.7909522259248711

In [41]:
l1.score(X_train,Y_train)

0.7571378367701931

In [42]:
#How to select the right value of lambda (alpha or hyper-parameter)
#simple technique : -
#Lasso regularization 
for i in range(200,1001,50) :  #start=200 stop=1001-1=1000  step=+50 by default
    #create the object of Lasso class
    l1=Lasso(i)  #first put the value of i=200 then i=250 ,300,350,....1000
    #RSS+i*sum(abs(all coef))
    l1.fit(X_train,Y_train) #train the model from lasso
    #check score 
    score=l1.score(X_test,Y_test) #find out the score means testing 30% data
    print("Value of Lambda : " ,i ,"Score " ,score)

Value of Lambda :  200 Score  0.8139201358023782
Value of Lambda :  250 Score  0.8124219090780234
Value of Lambda :  300 Score  0.8085057299003376
Value of Lambda :  350 Score  0.8036053753129062
Value of Lambda :  400 Score  0.7977229768452246
Value of Lambda :  450 Score  0.7950465607641614
Value of Lambda :  500 Score  0.7946028204251037
Value of Lambda :  550 Score  0.7942485978551438
Value of Lambda :  600 Score  0.7938656404830353
Value of Lambda :  650 Score  0.7934536226456452
Value of Lambda :  700 Score  0.7930208714948073
Value of Lambda :  750 Score  0.7925637235065691
Value of Lambda :  800 Score  0.7920812896372942
Value of Lambda :  850 Score  0.7915726589657284
Value of Lambda :  900 Score  0.7910703319438238
Value of Lambda :  950 Score  0.7910205756985366
Value of Lambda :  1000 Score  0.7909522259248711

In [43]:
'''In Lasso , coefficient of less imp features =0 and increase the 
coefficient of most imp features to predict the output
means Lasso is very important for feature selection '''

'In Lasso , coefficient of less imp features =0 and increase the \ncoefficient of most imp features to predict the output\nmeans Lasso is very important for feature selection '

# RIDGE

In [44]:
#ridge regularization:-
#ridge regularization means L2 call inbuilt class ridge
from sklearn.linear_model import Ridge

In [45]:
#Create object of ridge class 
l2=Ridge(10)
#passing the value of Lambda which are 0 to 50 during create
#the object of class Ridge RSS+Lambda*sum(sqrt(all coef))

In [46]:
#Train the model with ridge
l2.fit(X_train,Y_train)

Ridge(alpha=10)

In [47]:
#Checking the coefficent/slope value of each input after add the error on training time:use coef_inbuilt method of ridge
m2=l2.coef_
m2_after=[]
for i in m2:
    m2_after.append(np.round(i,1))
print(m2_after)

[208.7, -0.6, 364.4, 572.9, 104.4, 22.1, 211.3, -272.9, -186.3, -906.6, -630.7, 1568.6, 2570.5, 515.9]

In [48]:
#Create dictionary
d={"Input columns":input,"Slope before add error":m_before,
  "Slope after add error use Lasso":m2_after}
#convert dictionary into dataframe
data=pd.DataFrame(d)
data

        Input columns  Slope before add error  Slope after add error use Lasso
0           symboling                   45.14                            208.7
1   normalized-losses                    1.53                             -0.6
2               width                  789.45                            364.4
3              height                  362.66                            572.9
4         engine-size                   98.37                            104.4
5          horsepower                  -10.82                             22.1
6            city-mpg                  308.02                            211.3
7         highway-mpg                 -417.02                           -272.9
8                make                 -200.10                           -186.3
9           fuel-type                 -622.65                           -906.6
10         body-style                 -170.24                           -630.7
11       drive-wheels                 1868.61                           1568.6
12    engine-location                16413.36                           2570.5
13        engine-type                  283.17                            515.9

In [49]:
''' In Ridge , coefficient of less imp features is decrease and increase the 
coefficient of most imp features to predict the output
 '''

' In Ridge , coefficient of less imp features is decrease and increase the \ncoefficient of most imp features to predict the output\n '

In [50]:
#How to select the right value of lambda (alpha or hyper-parameter)
#simple technique : -
#Ridge regularization 
for i in range(51) :  #start=0 stop=51-1=50  step=+1 by default
    #create the object of Ridge class
    l2=Ridge(i)  #first put the value of i=0 then i=1,2,3,....50
    #RSS+i*sum(abs(all coef))
    l2.fit(X_train,Y_train) #train the model from lasso
    #check score 
    score=l2.score(X_test,Y_test) #find out the score means testing 30% data
    print("Value of Lambda : " ,i ,"Score " ,score)

Value of Lambda :  0 Score  0.796556678039738
Value of Lambda :  1 Score  0.8074518758147271
Value of Lambda :  2 Score  0.8110292248150516
Value of Lambda :  3 Score  0.8126933383890032
Value of Lambda :  4 Score  0.81361486450293
Value of Lambda :  5 Score  0.8141745853539418
Value of Lambda :  6 Score  0.8145301242133357
Value of Lambda :  7 Score  0.8147582608502812
Value of Lambda :  8 Score  0.8149010602831951
Value of Lambda :  9 Score  0.8149836949253052
Value of Lambda :  10 Score  0.815022286737653
Value of Lambda :  11 Score  0.8150277245431792
Value of Lambda :  12 Score  0.8150076788279418
Value of Lambda :  13 Score  0.8149677381788262
Value of Lambda :  14 Score  0.8149120868051177
Value of Lambda :  15 Score  0.814843927825252
Value of Lambda :  16 Score  0.8147657584947391
Value of Lambda :  17 Score  0.8146795554128126
Value of Lambda :  18 Score  0.8145869029046836
Value of Lambda :  19 Score  0.8144890843369587
Value of Lambda :  20 Score  0.8143871485445551
Value of Lambda :  21 Score  0.8142819591129826
Value of Lambda :  22 Score  0.8141742315788496
Value of Lambda :  23 Score  0.814064561942154
Value of Lambda :  24 Score  0.8139534488166063
Value of Lambda :  25 Score  0.8138413108452037
Value of Lambda :  26 Score  0.8137285005403767
Value of Lambda :  27 Score  0.8136153153884842
Value of Lambda :  28 Score  0.8135020068362638
Value of Lambda :  29 Score  0.813388787619721
Value of Lambda :  30 Score  0.8132758377831446
Value of Lambda :  31 Score  0.8131633096537952
Value of Lambda :  32 Score  0.8130513319772296
Value of Lambda :  33 Score  0.8129400133729976
Value of Lambda :  34 Score  0.8128294452363017
Value of Lambda :  35 Score  0.8127197041851859
Value of Lambda :  36 Score  0.8126108541327802
Value of Lambda :  37 Score  0.8125029480485758
Value of Lambda :  38 Score  0.812396029460508
Value of Lambda :  39 Score  0.8122901337400303
Value of Lambda :  40 Score  0.8121852892047277
Value of Lambda :  41 Score  0.8120815180669059
Value of Lambda :  42 Score  0.8119788372516914
Value of Lambda :  43 Score  0.811877259104192
Value of Lambda :  44 Score  0.8117767920020496
Value of Lambda :  45 Score  0.8116774408870531
Value of Lambda :  46 Score  0.8115792077273275
Value of Lambda :  47 Score  0.8114820919198036
Value of Lambda :  48 Score  0.8113860906412016
Value of Lambda :  49 Score  0.8112911991545092
Value of Lambda :  50 Score  0.8111974110769211

In [51]:
#In ridge : value of lambda means alpha=2 , score : 0.81
#In Lasso , Value of Lambda :  200 , Score  0.8139201358023778
#good score .81 both lasso and ridge regularization

# Cross validation

In [52]:
from sklearn.model_selection import cross_val_score # cross_val_score inbuilt method 
#Create the object of Lasso class and pass value of alpha or lambda
l1=Lasso(200)

In [53]:
#create the object of cross_val_score class(for cross validation)
#first apply for Lasso
l1_cross=cross_val_score(l1,X,Y,cv=4) #here l1 object of Lasso and 
#X input and Y output cv means divided the no. of parts of data=4
l1_cross

array([0.76560829, 0.81872367, 0.43344753, 0.448364  ])

In [54]:
#To find the average of L1_cross
l1_cross.mean()

0.6165358705430692

In [55]:
#Ridge
#Create the object of Ridge class and pass value of alpha or lambda
l2=Ridge(2)

In [56]:
#create the object of cross_val_score class(for cross validation)
#first apply for Lasso
l2_cross=cross_val_score(l2,X,Y,cv=4) #here l1 object of Lasso and 
#X input and Y output cv means divided the no. of parts of data=4
l2_cross

array([0.71176474, 0.86474228, 0.37640664, 0.47020196])

In [57]:
#To find the average of L1_cross
l2_cross.mean()

0.6057789059244743

In [58]:
#Mean of Lasso is greater than Ridge so Select Lasso Regularization
#in this dataset
#mean of lasso regularization : 0.61
#mean of Ridge regularization : 0.60
#in this dataset automobile_data.csv, Lasso regularisation is best as 
#compared to Ridge regularisation because average means mean of  of  score
#of lasso is greater than ridge regularisation